@model Student
@{
	ViewData["Title"] = "Details";
}

<h1 class="text-center"><span class="text-primary">@Model.Name </span>Details:</h1>
<table class="table table-bordered table-hover text-center">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Age</th>
			<th>DeptNo</th>
			<th>DeptName</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@Model.Id</td>
			<td>@Model.Name</td>
			<td>@Model.Age</td>
			<td>@Model.DeptNo</td>
			<td>@Model.Department?.DeptName</td>
		</tr>
	</tbody>
</table>
<div class="d-flex justify-content-center mt-4">
	<a asp-action="index" class="btn btn-primary px-5">Return</a>
</div>